<title>Instalacija PyCharm-a</title>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 pt-3">
          <div class="text-center card-header">
              <h4>Kako instalirati PyCharm</h4>
          </div>
          <br />
          <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Preuzimanje aplikacije možete uraditi <a href="https://www.jetbrains.com/pycharm/download" target="_blank">ovde</a><br /><br />
                    Klikom na ovaj link odaberite opciju "Community" kako biste preuzeli besplatnu verziju ove aplikacije.
                </p>
                <div class="col-md-6 offset-md-3">
                    <img class="card-img-top" src="@Url.Content("~/Media/Other/Instalacija.PNG")">
                </div><br />
                <p class="card-text">
                    Prilikom instalacije kada dodjete do koraka sa slike, potrebno je čekirati .py checkbox, sobzirom 
                    da radimo u python programskom jeziku. Nakon uspešne instalacije, možete odabrati opciju "New Project"
                    i započeti sa programiranjem.
                </p><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>