<title>Vežba 1 - Osnove Python-a</title>
<style>
      .sticky {
        position: sticky;
        top: 75px;
      }
</style>

<body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-sidebar sidebar">
            <div class="sidebar-sticky sticky">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="background-color: #151515">
                <span>Sadržaj</span>
                <a class="d-flex align-items-center text-muted" >
                <span data-feather="plus-circle"></span>
                </a>
            </h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#zadatak1">
                    <span data-feather="home"></span>
                    Zadatak - 1
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak2">
                    <span data-feather="file"></span>
                    Zadatak - 2
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak3">
                    <span data-feather="shopping-cart"></span>
                    Zadatak - 3
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak4">
                    <span data-feather="users"></span>
                    Zadatak - 4
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak5">
                    <span data-feather="bar-chart-2"></span>
                    Zadatak - 5
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak6">
                    <span data-feather="layers"></span>
                    Zadatak - 6
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak7">
                    <span data-feather="layers"></span>
                    Zadatak - 7
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak8">
                    <span data-feather="layers"></span>
                    Zadatak - 8
                </a>
                </li>
            </ul>

            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="background-color: #151515">
                <span>Reference</span>
                <a class="d-flex align-items-center text-muted" >
                <span data-feather="plus-circle"></span>
                </a>
            </h4>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                <a class="nav-link" href="https://pynative.com/python-basic-exercise-for-beginners/" target="_blank">
                    <span data-feather="file-text"></span>
                    PYnative
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.w3resource.com/python-exercises/" target="_blank">
                    <span data-feather="file-text"></span>
                    w3resource
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.geeksforgeeks.org/python-exercises-practice-questions-and-solutions/" target="_blank">
                    <span data-feather="file-text"></span>
                    GeeksForGeeks
                </a>
            </ul>
            </div>
        </nav>

        <div class="col-lg-10 pt-3">
          <div class="text-center card-header">
              <h4>ZADACI ZA VEŽBANJE OSNOVA PYTHON-A</h4>
          </div>

          <br />
          <div class="card" id="zadatak1">
            <div class="card-header text-center">
            <h4>Zadatak 1</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome korisnik unosi jednu reč, 
                a output mu se ispisuje svaki karakter te reči u obrnutom redosledu:</p><br />
                <pre class="python-exec">
                <code>	
    tekst = input('Unesite tekst: ')
    print('Unesen tekst je: ' + tekst)

    def split(string):
        return [char for char in string]

    print('Niz je: ' + str(split(tekst)))
    for t in reversed(split(tekst)):
        print(t)</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite tekst: Reč<br />
                    Unesen tekst je: Reč<br />
                    Niz je: ['R', 'e', 'č']<br />
                    č<br />
                    e<br />
                    R
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak2">
            <div class="card-header text-center">
            <h4>Zadatak 2</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se ispisuje datum pokretanja 
                    koda u formatu dd-MMM-gggg (mesec ispisati rečima u tri slova) i izračunava koliko 
                    dana je prošlo od prvog januara 1990-te godine. 
                    Koristiti import datetime biblioteku za pronalaženje trenutnog datuma.</p><br />
               <pre class="python-exec">
                <code>	
    from datetime import date

    danas = date.today()
    print('Današnji datum: ', danas.strftime('%d-%b-%Y'))

    datum = date(1990, 1, 1)
    delta = danas - datum

    print('Prošlo je: ' + str(delta.days) + ' dana')</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Današnji datum: 13-Nov-2021<br />
                    Prošlo je: 11639 dana
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak3">
            <div class="card-header text-center">
            <h4>Zadatak 3</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se generiše nasumičan broj od 1-50 a
                    korisnik unosi brojeve na kojima dobija odgovor ako je unesen broj veći 
                    ili manji od nasumičnog. Kada korisnik pogodi broj, dobija odgovor koliko 
                    je imao pokušaja.</p><br />
                <pre class="python-exec">
                <code>	
    import random

    r = random.randint(0, 50)
    counter = 1

    broj = int(input('Unesite broj: '))
    while(broj != r):
        if broj > r:
            print('Broj je manji')
        else:
            print('Broj je veći')
        broj = int(input('Unesite broj: '))
        counter = counter + 1

    print('\nČestitam! Tačan broj je bio ' + str(r))
    print('Broj pokušaja je: ' + str(counter))</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite broj: 10<br />
                    Broj je veći<br />
                    Unesite broj: 20<br />
                    Broj je veći<br />
                    Unesite broj: 30<br />
                    Broj je manji<br />
                    Unesite broj: 24<br /><br />
                    Čestitam! Tačan broj je bio 24<br />
                    Broj pokušaja je: 4
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak4">
            <div class="card-header text-center">
            <h4>Zadatak 4</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se od datog niza sa 
                    devet brojeva formiraju tri nova niza jednakih dužina koja 
                    sadrže vrednosti originalnog niza u rastućem redosledu.</p><br />
                <pre class="python-exec">
                <code>	
    niz = [11, 45, 8, 23, 14, 12, 78, 45, 89]
    print('Dati niz: ', niz)

    niz.sort()
    print('Sortiran niz: ', niz, '\n')

    duzina = len(niz)
    velicina = int(duzina / 3)
    start = 0
    end = velicina

    for i in range(velicina):
        index = slice(start, end)

        brojNiza= niz[index]
        print("Niz", i, ': ', brojNiza)

        start = end
        end += velicina</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Dati niz:  [11, 45, 8, 23, 14, 12, 78, 45, 89]<br />
                    Sortiran niz:  [8, 11, 12, 14, 23, 45, 45, 78, 89<br /><br />
                    Niz 0 :  [8, 11, 12]<br />
                    Niz 1 :  [14, 23, 45]<br />
                    Niz 2 :  [45, 78, 89]
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak5">
            <div class="card-header text-center">
            <h4>Zadatak 5</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod pomoću kojeg se rešava kvadratna jednačina 
                    i ispisuju rezultati njenih korena.</p><br />
                <pre class="python-exec">
                <code>	
    import math

    a = float(input('Unesite prvi koeficijent: '))
    b = float(input('Unesite drugi koeficijent: '))
    c = float(input('Unesite treći koeficijent: '))

    if (a!=0.0):
        d = (b*b)-(4*a*c)
        if (d==0.0):
            print('\nVrednosti su realne i jednake.')
            r = -b/(2*a)
            print('Koren vrednosti su ', r,' i ', r)
        elif(d>0.0):
            print('\nVrednosti su realne i različite.')
            r1 = (-b+(math.sqrt(d)))/(2*a)
            r2 = (-b-(math.sqrt(d)))/(2*a)
            print('Prva vrednost korena je: ', r1)
            print('Druga vrednost korena je: ', r2)
        else:
            print('\nVrednosti su imaginarne.')
            rp = -b/(2*a)
            ip = math.sqrt(-d)/(2*a)
            print('Prva vrednost korena je: ', rp, '+ i', ip)
            print('Druga vrednost korena je: ', rp, '- i', ip)
    else:
        print('Jednačina nije kvadratna.')</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite prvi koeficijent: 4<br />
                    Unesite drugi koeficijent: 6<br />
                    Unesite treći koeficijent: 2<br /><br />
                    Vrednosti su realne i različite.<br />
                    Prva vrednost korena je:  -0.5<br />
                    Druga vrednost korena je:  -1.0
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak6">
            <div class="card-header text-center">
            <h4>Zadatak 6</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji proverava da li je unesen tekst palindrom.</p><br />
                <pre class="python-exec">
                <code>	
    def isPalindrome(inputString):
        reverseString = inputString[::-1]
        if (inputString.replace(' ','') == reverseString.replace(' ','')):
            return True
        return False

    s = input('Unesite tekst: ')
    result = isPalindrome(s.lower())

    if result == 1:
        print('Tekst je palindrom')
    else:
        print('Tekst nije palindrom')</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite tekst: Ana voli Milovana<br />
                    Tekst je palindrom
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak7">
            <div class="card-header text-center">
            <h4>Zadatak 7</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji kreira tekstualnu datoteku i 
                    ispisuje u njoj tri linije teksta (write), nakon toga otvara 
                    ponovo isti fajl i dodaje dve linije teksta (append), čita fajl 
                    i u konzoli ispisuje ono šta sadrži i nakon toga je kompletno obriše.</p><br />
                <pre class="python-exec">
                <code>	
    import os

    file = open('fajl.txt', 'w+')
    for i in range(3):
        file.write('Ovo je prepisan tekst: %d\n' % (i+1))
    file.close()
    ​
    file = open('fajl.txt', 'a+')
    for i in range(2):
        file.write('Ovo je priložen tekst: %d\n' % (i + 1))
    file.close()

    file = open('fajl.txt', 'r')
    if file.mode == 'r':
        print(file.read())
    file.close()

    os.remove('fajl.txt')</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Ovo je prepisan tekst: 1<br />
                    Ovo je prepisan tekst: 2<br />
                    Ovo je prepisan tekst: 3<br />
                    Ovo je priložen tekst: 1<br />
                    Ovo je priložen tekst: 2
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak8">
            <div class="card-header text-center">
            <h4>Zadatak 8</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji simulira rad kase u prodavnici 
                    korišćenjem klase za artikle i klase u kome će se svi artikli smestiti. 
                    Nakon unošenja svih artikla, ispisati šta je sve kupljeno i ukupna cena svih artikla.</p><br />
                <pre class="python-exec">
                <code>	
    class artikal:
        def __init__(self, name, price):
            self.name = name
            self.price = price

        def __str__(self):
            return '{:6.2f} din, {:s} '.format(self.price, self.name)

    class kupovina:
        def __init__(self):
            self.items = [ ]

        def add(self, item):
            self.items.append(item)

        def total(self):
            return '\nUkupna cena: {:.2f} din'.format(sum(item.price for item in self.items))

        def __str__(self):
            return '\n'.join(str(item) for item in self.items)

    korpa = kupovina()

    korpa.add(artikal('Čokolada', 120))
    korpa.add(artikal('Hleb', 45))
    korpa.add(artikal('Pavlaka', 150))
    korpa.add(artikal('Jaja 10kom', 140))

    print(korpa)
    print(korpa.total())</code>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    120.00 din, Čokolada <br />
                      45.00 din, Hleb  <br />
                    150.00 din, Pavlaka  <br />
                    140.00 din, Jaja 10kom <br /><br />
                    Ukupna cena: 455.00 din
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>