html {
    font-size: 15px;
    text-align: left;
    text-align:justify;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Bahnschrift, sans-serif;
    background-color: #F0F0F0;
}

h1{
    margin-top : 20px;
    margin-bottom : 20px;
}

.bgText{
    color: white;
    background-color: black;
    width:fit-content;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    color: black;
}

.bg-sidebar {
    background-color: white;
    margin-right: 5px;
    margin-left: -5px;
}

pre {
    background-color: #383B40;
    color: white;
}

h4{
    margin: 5px;
}

 