html {
  font-size: 14px;
  text-align: justify;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
    margin-top : 20px;
    margin-bottom : 20px;
}

.bgText{
    color: white;
    background-color: black;
    width:fit-content;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    color: black;
}

.bg-sidebar {
    background-color: #E5E5E5;
}